/* font-section */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");

.open-sans-Yeseva_One {
  font-family: "Open Sans", sans-serif;

  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-Poppins {
  font-family: "Poppins", sans-serif;

  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-lobstar {
  font-family: "Lobster", cursive;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
/* share class section */
.section-width {
  max-width: 1140px;
  margin: 0 auto;
}
.btn-primary {
  background-color: #ff5959;
  color: white;
  padding: 11px 37px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.orng-color {
  color: #ffad5a;
}
.text-gray {
  color: #3e3e3e;
}
.dark-p {
  color: #ff5959;
}

/* header section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 131px 0 0;
}

.banner_title {
  font-size: 60px;
  border-left: 4px solid rgba(255, 89, 89, 1);
  border-radius: 5px;
  padding-left: 13px;
}
.banner-img-section {
  max-width: 426px;
  /* max-height: 623px; */
}
header img {
  width: 100%;
}
.banner_des {
  font-size: 18px;
  color: #3e3e3e;
  margin-top: 15px;
  margin-bottom: 19px;
}
.des2 {
  font-size: 16px;
  color: #3e3e3e;
  margin-top: 33px;
}

/* My Mission section */
.my-mission {
  margin-top: 62px;
}
.mission-title {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 48px;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 86px;
}
.item {
  width: 360px;
  border-radius: 26px;
  padding: 32px;
}
br {
  display: none;
}

.item img {
  width: 141px;
  margin-bottom: 12px;
}
.card-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.card-des {
  font-size: 14px;
  margin-bottom: 45px;
}

.item1 {
  background-color: rgba(79, 157, 166, 0.1);
}
.item2 {
  background-color: rgba(255, 89, 89, 0.1);
}
.item3 {
  background-color: rgba(255, 244, 214, 1);
}
/* devlop-container section */
.devlop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
.right {
  position: relative;
}
.round {
  position: absolute;
  width: 227px;
  z-index: -1;
  width: 227px;
  left: -100px;
  top: 50px;
}
.programming {
  width: 100%;
  width: 400px;
  z-index: 2;
}
.dev-title {
  font-size: 36px;
  font-weight: bold;
}
.dev-des {
  font-size: 18px;
  margin: 18px 0;
  line-height: 30px;
}

/* Global _community_section */
.global_community {
  margin-top: 62px;
  margin-bottom: 100px;
}
.community_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 106px;
}
.community_title {
  font-size: 36px;
  font-weight: bold;
}
.community_des {
  line-height: 30px;
  font-size: 18px;
  margin: 18px 0;
}
.left_community {
  position: relative;
}
.project {
  width: 100%;
  width: 400px;
  z-index: 2;
}
.shape_community {
  width: 200px;
  position: absolute;
  left: 280px;
  top: 290px;
  z-index: -1;
}
/* corona_section */
.corona_main_title {
  text-align: center;
  font-weight: 1000;
  font-size: 48px;
  margin-bottom: 85px;
}
.corona_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.corona_left {
  position: relative;
}
.corona_image {
  width: 100%;
  width: 229px;
  z-index: 2;
}
.corona_shape1 {
  position: absolute;
  width: 147px;
  right: 120px;
  top: -35px;
  z-index: -1;
}
.corona_shape2 {
  position: absolute;
  width: 77px;
  top: 250px;
  right: -10px;
  z-index: -1;
}
.corona_shape3 {
  position: absolute;
  width: 77px;
  top: 340px;
  right: 160px;
  z-index: -1;
}
.corona_title {
  font-size: 48px;
  font-weight: bold;
}
.corona_des {
  font-size: 18px;
  margin: 18px 0;
  line-height: 30px;
}
/* footer-section*/
footer {
  background-color: #0b0d17;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 70px;
}

.f-title {
  color: white;
  font-size: 36px;
  font-weight: bold;
}
.f-des {
  font-size: 14px;
  color: rgba(217, 219, 225, 1);
}

@media screen and (max-width: 576px) {
  header,
  .community_container {
    flex-direction: column-reverse;
  }

  header,
  .right_community,
  .corona_right {
    padding: 10px;
  }
  .left {
    padding: 10px;
  }
  /* banner-section */
  .banner_title {
    font-size: 40px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 13px;
  }
  .banner-img-section {
    width: 300px;
  }
  .banner_des {
    font-size: 16px;
  }
  /* Section-Mission */
  .mission-title {
    font-size: 30px;
    font-weight: 700;
  }
  .card-title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .card-des {
    font-size: 12px;
    margin-bottom: 35px;
  }
  .item {
    width: 320px;
  }
  .item img {
    width: 130px;
    margin-bottom: 10px;
  }

  .container {
    grid-template-columns: 1fr;
    place-items: center;
  }
  /* devlop section */
  .display,
  .shape_community,
  .corona_shape1,
  .corona_shape2,
  .corona_shape3 {
    display: none;
  }
  .devlop-container,
  .corona_container {
    flex-direction: column;
  }
  .programming,
  .project {
    width: 350px;
  }
  /* corona title */
  .corona_main_title {
    font-size: 40px;
    font-weight: bold;
  }
  .corona_container {
    gap: 20px;
  }
  .corona_image {
    width: 100%;
  }
  .corona_main_title {
    margin-bottom: 20px;
  }
}
